<body class="container" ng-controller="RoomCtrl as room">

	<!-- Nav Section -->
	<nav class="nav-bar">
		<h1>
			Chatta
			<span class="ion-chatboxes"></span>
		</h1>

		<h2 class="heroTitle">{{ room.title }}</h2>

			<h4 class="loggedUser">Logged in: {{ room.currentUser }}</span></h4>

		<!-- New Chat Button -->
		<button type="button" class="btn btn-default addChat" ng-click="room.addChat()">
			<span class="ion-plus-round">
				new chat room</span>
			</button>

			<!-- List of Chat Rooms -->
			<div class="chatRooms" ng-repeat="room in room.rooms">
				<div class="buttonArea" ng-click="$parent.room.setCurrentRoom(room)">
					{{ room.$value }}
				</div>
			</div>
		</nav>

		<!-- Message Room -->
		<div class="messages-container">

			<!-- Display Messages -->
			<div>
				<h3>
					Chatta with: <span class="nameOfUser">{{ room.currentRoom.$value }}</span>
				</h3>


				<!-- Text Input -->
				<div>
					<textarea ng-model="room.newMessage.content" id="textarea" placeholder="Say Anything.." required></textarea>
					<div class="sendMessage" ng-click="room.sendMessage()">
						Send
					</div>
				</div>

				<div class="messagesBody" ng-repeat="message in room.messages">
					<div class="username">
						{{ message.username }}
					</div>
					<div class="userMessage">
						" {{ message.content }} "
					</div>
					<div class="timeStamp">
						{{ message.sentAt | date : "shortTime" }}
					</div>
				</div>
			</div>


		</div>

	</body>
