<body class="container" ng-controller="RoomCtrl as room">
	<nav class="nav-bar">
		<h1>Chatta  <span class="ion-chatboxes"></span>
		</h1>

		<h2 class="heroTitle">{{ room.title }}</h2>

		<!-- New Chat Button -->
		<button type="button" class="btn btn-default" ng-click="room.addChat()">
			<span class="ion-plus-round">
			 new chat room</span>
		 </button>

		<div>
			<ul>
				<li ng-repeat="room in room.rooms">{{ room.$value }}</li>
			</ul>
		</div>



	</nav>
	<section class="messages">


	</section>

</body>
